body {
    background-color: lightskyblue;
}

.main {
    background-color: lightgoldenrodyellow;
    color: black;
    text-align: center;
    height: 450px;
    align-content: center;
}

.game-title {
    color: blue;
    height: 50px;
}

.timer {
    height: 50px;
}

.question {
    height: 50px;
    font-size: 20px;
    align-self: center;
}

.answers {
    height: 50px;
}

.start-button {
    background-color: lightpink;
    color: black;
    border: 1px solid;
    width: 100px;
}
